<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Token Directory Service - Admin</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="login-code-outer">
      <div class="login-code-inner">
	<div id="login-msg"></div>
	<div class="code">
	  <img id="qrcode">
	</div>
      </div>
    </div>
    <table id="apps">
    </table>
    <script src="/admin.js"></script>
  </body>
</html>
