<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Token Directory Service - Login</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="login-code-outer">
      <div class="login-code-inner">
	<div id="login-msg">Scan with Token to login</div>
	<img id="qrcode">
      </div>
    </div>
    <script src="/login.js"></script>
  </body>
</html>
